::placeholder {
    font-size: 14px;
}

#mainpage {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar .navbar-expand-lg {

    position: sticky;
    top: 0;

}

#activeStatus {
    color: gray;


    font-size: 10px;
}

#senderTemp,
#receiverTemp {
    display: none;
}

.msg-container {
    display: none;
}